@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1> Something Warning, Please Try Again Later  </h1>
 <a  class="btn btn-sm btn-outline-primary mt-2 fw-bold add-to-cart-btn"  asp-area="" asp-controller="Cart" asp-action="Index" > Back to <i class="bi bi-cart"></i> </a> 
 <style>
   .add-to-cart-btn {
        border-radius: 20px;
        padding: 5px 12px;
        font-size: 0.9rem;
    }</style>