@model Microsoft.AspNetCore.Mvc.Rendering.SelectList

<select name="PaymentDTO.PaymentId"  id="paymentMethod" class="form-control">
    @foreach (var item in Model)
    {
            <option value="@item.Value">@item.Text</option>
    }
</select>